.form-busca {
    margin: 40px 0;
    display: block;
    background: #F5F5F5;
    border-radius: 10px;
    width: 100%;
    h2{
      font-family: Roboto;
      font-size: 32px;
      font-weight: 400;
      line-height: 40px;
      letter-spacing: 0em;
      text-align: left;
    }
    .flex-container {
      display: flex;
      align-items: center;
      gap: 12px;
      margin: 16px 0;
      
    }
    .input-container {
      margin-bottom: -1.25em;
    }
    .mat-button-toggle-checked {
      background-color: #F7F2FA;
    }
}
  